CapstoneProject/CapstoneProject/obj/Debug/CapstoneProject.Properties.Resources.resources
CapstoneProject/CapstoneProject/obj/Debug/CapstoneProject.csproj.FileListAbsolute.txt
CapstoneProject/CapstoneProject/obj/Debug/CapstoneProject.g.resources
CapstoneProject/CapstoneProject/obj/Debug/CheckInWindow.baml
CapstoneProject/CapstoneProject/obj/Debug/CheckInWindow.g.cs
CapstoneProject/CapstoneProject/obj/Debug/CheckInWindow.g.i.cs
CapstoneProject/CapstoneProject/obj/Debug/CheckOutWindow.baml
CapstoneProject/CapstoneProject/obj/Debug/CheckOutWindow.g.cs
CapstoneProject/CapstoneProject/obj/Debug/CheckOutWindow.g.i.cs
CapstoneProject/CapstoneProject/obj/Debug/DirectoryWindow.baml
CapstoneProject/CapstoneProject/obj/Debug/DirectoryWindow.g.cs
CapstoneProject/CapstoneProject/obj/Debug/DirectoryWindow.g.i.cs
CapstoneProject/CapstoneProject/obj/Debug/EditISBNEntry.g.i.cs
CapstoneProject/CapstoneProject/obj/Debug/EditISBNFound.g.i.cs
CapstoneProject/CapstoneProject/obj/Debug/EditISBNMatch.g.i.cs
CapstoneProject/CapstoneProject/obj/Debug/EditWindow.baml
CapstoneProject/CapstoneProject/obj/Debug/EditWindow.g.cs
CapstoneProject/CapstoneProject/obj/Debug/EditWindow.g.i.cs
CapstoneProject/CapstoneProject/obj/Debug/LibrarianLogInWindow.baml
CapstoneProject/CapstoneProject/obj/Debug/LibrarianLogInWindow.g.cs
CapstoneProject/CapstoneProject/obj/Debug/LibrarianLogInWindow.g.i.cs
CapstoneProject/CapstoneProject/obj/Debug/MainWindow.baml
CapstoneProject/CapstoneProject/obj/Debug/MainWindow.g.cs
CapstoneProject/CapstoneProject/obj/Debug/MainWindow.g.i.cs
CapstoneProject/CapstoneProject/obj/Debug/MoreInfoWindow.baml
CapstoneProject/CapstoneProject/obj/Debug/MoreInfoWindow.g.cs
CapstoneProject/CapstoneProject/obj/Debug/MoreInfoWindow.g.i.cs
CapstoneProject/CapstoneProject/obj/Debug/OverdueWindow.baml
CapstoneProject/CapstoneProject/obj/Debug/OverdueWindow.g.cs
CapstoneProject/CapstoneProject/obj/Debug/OverdueWindow.g.i.cs
CapstoneProject/CapstoneProject/obj/Debug/edmxResourcesToEmbed/LibraryDatabaseModel.msl
CapstoneProject/CapstoneProject/obj/Debug/edmxResourcesToEmbed/LibraryDatabaseModel.ssdl
CapstoneProject/CapstoneProject/bin/
CapstoneProject/CapstoneProject/obj/
